footer {
    position: relative;
    width: 100%;
    height: calc(100px + 167px);
    background: var(--color-background);
    overflow: hidden;
    z-index: 0;

    .wave {
        position: absolute;
        top: 2px;
        left: 0;
        width: 100%;
        height: 100px;
        background: asset-url('wave.svg');
        background-size: 1000px 100px;

        &.wave1 {
            animation: animate 20s linear infinite;
            z-index: 5;
            opacity: 1;
            animation-delay: 0s;
            bottom: 0;
        }

        &.wave2 {
            animation: animate2 15s linear infinite;
            z-index: 4;
            opacity: 0.5;
            animation-delay: -5s;
            bottom: var(--padding-small);
        }

        &.wave3 {
            animation: animate 15s linear infinite;
            z-index: 3;
            opacity: 0.2;
            animation-delay: -2s;
            bottom: var(--padding-medium);
        }

        &.wave4 {
            animation: animate2 10s linear infinite;
            z-index: 2;
            opacity: 0.7;
            animation-delay: -5s;
            bottom: var(--padding-big);
        }
    }

    .footer-info {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background: linear-gradient(#993A77, #DC2430);
        padding-bottom: var(--padding-big);
        z-index: 5;
        display: grid;
        place-items: center;

        .logo-container img {
            width: 100px;
        }

        .credits {
            color: var(--color-font-light-strong);
            margin-top: 16px;
            font-weight: 600;
        }
    }
}

@keyframes animate {
    0% {
        background-position-x: 0;
    }

    100% {
        background-position-x: 1000px;
    }
}

@keyframes animate2 {
    0% {
        background-position-x: 0;
    }

    100% {
        background-position-x: -1000px;
    }
}